<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SciSync" Language="1033" Version="!(bind.FileVersion.SciSync.exe)" Manufacturer="Grid Protection Alliance" UpgradeCode="37B7137B-E7F5-4F77-AAF1-CD31DD4D6333">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED"/>
    <Condition Message='This setup requires Microsoft .NET Framework 4.6 or greater - this will need to be installed before installation can continue.'>
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
    </Condition>

		<Feature Id="ProductFeature" Title="SciSync" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <UI>
      <!-- User Interface -->
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)..\LICENSE" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)Application\Setup\Adapt_Header.png" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)Application\Setup\Adapt_Dialog.png" />
    
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <Property Id="SERVICENAME" Value="$(var.Adapt.TargetName)" />
  
    <Icon Id="icon.ico" SourceFile="$(var.Adapt.TargetPath)"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    
    <!-- Custom Actions -->

  </Product>
  <Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
        <Directory Id="ProgramFiles64Folder">
          <Directory Id="INSTALLFOLDER" Name="SciSync">
            <Directory Id="AFSDKFolder" Name="AFSDKHost">
            </Directory>
          </Directory>
        </Directory>
      <?else ?>
        <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="SciSync">
            <Directory Id="AFSDKFolder" Name="AFSDKHost">
            </Directory>
          </Directory>
        </Directory>
      <?endif ?>
    <Directory Id="ProgramMenuFolder">
      <Directory Id="StartMenuFolderName" Name="SciSync" />
      <Directory Id="DesktopFolder" />
    </Directory>
    </Directory>
    
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="SciSync.dll">
        <File Id="SciSync.dll" Name="$(var.Adapt.TargetFileName)" Source="$(var.Adapt.TargetPath)" />
			</Component>
      <Component Id="SciSync">
        <File Id="SciSync.exe" Name="SciSync.exe" Source="$(var.Adapt.TargetDir)SciSync.exe" />
			</Component>
      <Component Id="Adapt.Models">
        <File Id="Adapt.Models.dll" Name="$(var.Adapt.Models.TargetFileName)" Source="$(var.Adapt.Models.TargetPath)" />
      </Component>
      <Component Id="Adapt.DataSources">
        <File Id="Adapt.DataSources.dll" Name="$(var.Adapt.DataSources.TargetFileName)" Source="$(var.Adapt.DataSources.TargetPath)" />
      </Component>
      <Component Id="GemstoneAnalytic">
        <File Id="GemstoneAnalytic.dll" Name="$(var.GemstoneAnalytic.TargetFileName)" Source="$(var.GemstoneAnalytic.TargetPath)" />
      </Component>
      <Component Id="GemstoneCommon">
        <File Id="GemstoneCommon.dll" Name="$(var.GemstoneCommon.TargetFileName)" Source="$(var.GemstoneCommon.TargetPath)" />
      </Component>
      <Component Id="GemstonePhasorProtocolls">
        <File Id="GemstonePhasorProtocolls.dll" Name="$(var.GemstonePhasorProtocolls.TargetFileName)" Source="$(var.GemstonePhasorProtocolls.TargetPath)" />
      </Component>
      <Component Id="GemstoneWPF">
        <File Id="GemstoneWPF.dll" Name="$(var.GemstoneWPF.TargetFileName)" Source="$(var.GemstoneWPF.TargetPath)" />
      </Component>
      <Component Id="AdaptLogic">
        <File Id="AdaptLogic.dll" Name="$(var.AdaptLogic.TargetFileName)" Source="$(var.AdaptLogic.TargetPath)" />
      </Component>
      <Component Id="Adapt.Analytcis">
        <File Id="Adapt.Analytcis.dll" Name="$(var.Adapt.Analytcis.TargetFileName)" Source="$(var.Adapt.Analytcis.TargetPath)" />
      </Component>
      
      <ComponentGroupRef Id="GemstoneLibraries" />
      <ComponentGroupRef Id="Depedencies" />
      <ComponentGroupRef Id="AFSDKHost"/>
      <ComponentGroupRef Id="AppConfig" />
      <ComponentGroupRef Id="ApplicationShortcut"/>
		</ComponentGroup>

    <ComponentGroup Id="GemstoneLibraries" Directory="INSTALLFOLDER">
      <Component Id="Gemstone.Common">
        <File Id="Gemstone.Common.dll" Name="Gemstone.Common.dll" Source="$(var.Adapt.TargetDir)Gemstone.Common.dll" />
      </Component>
      <Component Id="Gemstone.Communication">
        <File Id="Gemstone.Communication.dll" Name="Gemstone.Communication.dll" Source="$(var.Adapt.TargetDir)Gemstone.Communication.dll" />
      </Component>
      <Component Id="Gemstone.Data">
        <File Id="Gemstone.Data.dll" Name="Gemstone.Data.dll" Source="$(var.Adapt.TargetDir)Gemstone.Data.dll" />
      </Component>
      <Component Id="Gemstone.Expressions">
        <File Id="Gemstone.Expressions.dll" Name="Gemstone.Expressions.dll" Source="$(var.Adapt.TargetDir)Gemstone.Expressions.dll" />
      </Component>
      <Component Id="Gemstone.IO">
        <File Id="Gemstone.IO.dll" Name="Gemstone.IO.dll" Source="$(var.Adapt.TargetDir)Gemstone.IO.dll" />
      </Component>
      <Component Id="Gemstone.Numeric">
        <File Id="Gemstone.Numeric.dll" Name="Gemstone.Numeric.dll" Source="$(var.Adapt.TargetDir)Gemstone.Numeric.dll" />
      </Component>
        <Component Id="Gemstone.Threading">
        <File Id="Gemstone.Threading.dll" Name="Gemstone.Threading.dll" Source="$(var.Adapt.TargetDir)Gemstone.Threading.dll" />
      </Component>
        
    </ComponentGroup>
    


    <ComponentGroup Id="Depedencies" Directory="INSTALLFOLDER">
      
      <!-- SQL Lite Dependencies-->
      <Component Id="Sytem.data.SQLite">
        <File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="$(var.SolutionDir)Dependencies\Gemstone\System.Data.SQLite.dll" />
      </Component>
   
    
      <!-- Newtonsoft Dependencies-->
       <Component Id="Newtonsoft.Json">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.Adapt.TargetDir)Newtonsoft.Json.dll" />
      </Component>

    
      <!-- OxyPlot Dependencies-->
      <Component Id="OxyPlot.WPF">
        <File Id="OxyPlot.WPF.dll" Name="OxyPlot.WPF.dll" Source="$(var.Adapt.TargetDir)OxyPlot.WPF.dll" />
      </Component>
      <Component Id="OxyPlot">
        <File Id="OxyPlot.dll" Name="OxyPlot.dll" Source="$(var.Adapt.TargetDir)OxyPlot.dll" />
      </Component>
      <Component Id="OxyPlot.Wpf.Shared">
        <File Id="OxyPlot.Wpf.Shared.dll" Name="OxyPlot.Wpf.Shared.dll" Source="$(var.Adapt.TargetDir)OxyPlot.Wpf.Shared.dll" />
      </Component>

      <!-- OSISOft and GPRC Dependencies-->
      <Component Id="Google.Protobuf">
        <File Id="Google.Protobuf.dll" Name="Google.Protobuf.dll" Source="$(var.Adapt.TargetDir)Google.Protobuf.dll" />
      </Component>
      <Component Id="Grpc.Net.Client">
        <File Id="Grpc.Net.Client.dll" Name="Grpc.Net.Client.dll" Source="$(var.Adapt.TargetDir)Grpc.Net.Client.dll" />
      </Component>
      <Component Id="Grpc.Core.Api">
        <File Id="Grpc.Core.Api.dll" Name="Grpc.Core.Api.dll" Source="$(var.Adapt.TargetDir)Grpc.Core.Api.dll" />
      </Component>
      <Component Id="Grpc.Net.Common">
        <File Id="Grpc.Net.Common.dll" Name="Grpc.Net.Common.dll" Source="$(var.Adapt.TargetDir)Grpc.Net.Common.dll" />
      </Component>
      <Component Id="AFSDKnetcore">
        <File Id="AFSDKnetcore.dll" Name="AFSDKnetcore.dll" Source="$(var.Adapt.TargetDir)AFSDKnetcore.dll" />
      </Component>
      <Component Id="AFSDKproto">
        <File Id="AFSDKproto.dll" Name="AFSDKproto.dll" Source="$(var.Adapt.TargetDir)AFSDKproto.dll" />
      </Component>

      <!-- MS Extension Dependencies-->
      <Component Id="Microsoft.Extensions.Configuration.Abstractions">
        <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.Adapt.TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.Binder">
        <File Id="Microsoft.Extensions.Configuration.Binder.dll" Name="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.Adapt.TargetDir)Microsoft.Extensions.Configuration.Binder.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration">
        <File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.Adapt.TargetDir)Microsoft.Extensions.Configuration.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Primitives">
        <File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.Adapt.TargetDir)Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.Abstractions">
        <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.Adapt.TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
    </ComponentGroup>

    <!-- AFSDKHost Dependencies-->
    
    <ComponentGroup Id="AFSDKHost" Directory="AFSDKFolder">
      <Component Id="AFSDKHost_exe">
        <File Id="AFSDKHost.exe" Name="AFSDKHost.exe" Source="$(var.SolutionDir)Dependencies\AFSDKHost\AFSDKHost.exe" />
      </Component>
      <Component Id="AFSDKHost.exe">
        <File Id="AFSDKHost.exe.config" Name="AFSDKHost.exe.config" Source="$(var.SolutionDir)Dependencies\AFSDKHost\AFSDKHost.exe.config" />
      </Component>
      <Component Id="AFSDKHost.AFSDKproto">
        <File Id="AFSDKHost.AFSDKproto.dll" Name="AFSDKproto.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\AFSDKproto.dll" />
      </Component>
      <Component Id="AFSDKHost.Google.Protobuf">
        <File Id="AFSDKHost.Google.Protobuf.dll" Name="Google.Protobuf.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\Google.Protobuf.dll" />
      </Component>
      <Component Id="AFSDKHost.Grpc.Core.Api">
        <File Id="AFSDKHost.Grpc.Core.Api.dll" Name="Grpc.Core.Api.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\Grpc.Core.Api.dll" />
      </Component>
      <Component Id="Grpc.Core">
        <File Id="Grpc.Core.dll" Name="Grpc.Core.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\Grpc.Core.dll" />
      </Component>
      <Component Id="grpc_csharp_ext.x64">
        <File Id="grpc_csharp_ext.x64.dll" Name="grpc_csharp_ext.x64.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\grpc_csharp_ext.x64.dll" />
      </Component>
      <Component Id="grpc_csharp_ext.x86">
        <File Id="grpc_csharp_ext.x86.dll" Name="grpc_csharp_ext.x86.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\grpc_csharp_ext.x86.dll" />
      </Component>
      <Component Id="libgrpc_csharp_ext.x64">
        <File Id="libgrpc_csharp_ext.x64.dylib" Name="libgrpc_csharp_ext.x64.dylib" Source="$(var.SolutionDir)Dependencies\AFSDKHost\libgrpc_csharp_ext.x64.dylib" />
      </Component>
      <Component Id="libgrpc_csharp_ext.x64.so">
        <File Id="libgrpc_csharp_ext.x64.so" Name="libgrpc_csharp_ext.x64.so" Source="$(var.SolutionDir)Dependencies\AFSDKHost\libgrpc_csharp_ext.x64.so" />
      </Component>
      <Component Id="OSISoft.AFSDK">
        <File Id="OSISoft.AFSDK.dll" Name="OSISoft.AFSDK.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\OSISoft.AFSDK.dll" />
      </Component>
      <Component Id="System.Buffers">
        <File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\System.Buffers.dll" />
      </Component>
      <Component Id="System.Memory">
        <File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\System.Memory.dll" />
      </Component>
      <Component Id="System.Numerics.Vectors">
        <File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.SolutionDir)Dependencies\AFSDKHost\System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
    </ComponentGroup>
    
    <!-- Configuration Dependencies-->
    <ComponentGroup Id="AppConfig" Directory="INSTALLFOLDER">
      <Component Id="SQLLiteDB">
        <File Id="DataBase.db" Name="DataBase.db" Source="$(var.SolutionDir)Application\Data\DataBase.db" />
      </Component>
      <Component Id="RuntimeConfig">
        <File Id="SciSync.runtimeconfig.json" Name="SciSync.runtimeconfig.json" Source="$(var.Adapt.TargetDir)SciSync.runtimeconfig.json" />
      </Component>
    </ComponentGroup>
                
    <!-- Start Menu -->
    <ComponentGroup Id="ApplicationShortcut">
    <Component Id="MenuShortcut" Guid="FCA787C7-8266-46E4-A9D9-10F1E783EDA0" Directory="StartMenuFolderName">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="SciSync"
                Description="Scientific Tools for Advanced Synchrophasor Data Analytics with the PI System"
                Target="[#SciSync.exe]"
                WorkingDirectory="INSTALLFOLDER"
                Icon ="icon.ico"/>
      
      <RemoveFolder Id="CleanUpShortCut" Directory="StartMenuFolderName" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\GPA\SciSync" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>

    <Component Id="DesktopShortcut" Guid="{A2211042-F515-4BE5-B323-4AA3F48BC111}" Directory="DesktopFolder">
      <Shortcut Id="ApplicationDesktopShortcut"
                Name="SciSync"
                Description="Scientific Tools for Advanced Synchrophasor Data Analytics with the PI System"
                Target="[#SciSync.exe]"
                WorkingDirectory="INSTALLFOLDER"
                Icon ="icon.ico"/>
      <RegistryValue Root="HKCU" Key="Software\GPA\SciSync" Name="installed-Desktop" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
    </ComponentGroup>
  </Fragment>

  <!-- Custom Dialogs -->
  <Fragment>
    <UI>
      <!-- CompanyInfo Dialog -->
    </UI>
  </Fragment>
</Wix>
